<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>add_lecture</title>
  </head>
  <body>
    <table border="1">
      <a>Subject List</a>
      <tbody>
        {% for subject in subjects %}
        <tr>
          <td>{{ subject[0] }}</td>
          <td>{{ subject[1] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br />

    <form action="/add_lecture" method="post">
      <a>Code: </a>
      <input type="text" name="code" value="" />
      <br />
      <a>Name: </a>
      <input type="text" name="name" value="" />
      <br />
      <a>Price: </a>
      <input type="text" name="price" value="" />
      <br />
      <input type="submit" name="button" value="add" />
      <input type="hidden" name="id" value="{{ids}}" />
      <input type="hidden" name="password" value="{{passwords}}" />
    </form>

    <form action="/register" method="post">
      <input type="submit" name="button" value="cancel" />
      <input type="hidden" name="send" value="login" />
      <input type="hidden" name="id" value="{{ids}}" />
      <input type="hidden" name="password" value="{{passwords}}" />
    </form>
  </body>
</html>
