<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>admin_trades_info</title>
  </head>
  <body>
    <b> admin_trades_info</b>
    <br /><br />

    <table border="1">
      <thead>
        <th>tutee</th>
        <th>tutor</th>
        <th>code</th>
        <th>lecture_name</th>
        <th>lecture_price</th>
      </thead>

      <tbody>
        {% for enrollment in enroll %}
        <tr>
          <td>{{ enrollment[0] }}</td>
          <td>{{ enrollment[1] }}</td>
          <td>{{ enrollment[2] }}</td>
          <td>{{ enrollment[3] }}</td>
          <td>{{ enrollment[4] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br />

    <form action="/register" method="post">
      <input type="submit" name="button" value="return" />
      <input type="hidden" name="send" value="login" />
      <input type="hidden" name="id" value="{{ids}}" />
      <input type="hidden" name="password" value="{{passwords}}" />
    </form>
  </body>
</html>
