<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register_lecture</title>
  </head>
  <body>
    <b>Lecture INFO </b>

    <table border="1">
      <thead>
        <th>code</th>
        <th>name</th>
        <th>price</th>
        <th>tutor</th>
      </thead>

      <tbody>
        <tr>
          <td>{{ lec[0] }}</td>
          <td>{{ lec[1] }}</td>
          <td>{{ lec[2] }}</td>
          <td>{{ lec[3] }}</td>
        </tr>
      </tbody>
    </table>
    <br />

    <a>Your credit: {{credit}}</a><br />
    <a>Your rating: {{rating}}</a><br />
    <br />
    <a>Total price: {{lec[2]}}</a><br />
    <a>Discount price: {{discount_price}}</a><br />
    <a>============================================</a><br />
    <a>Final price: {{final_price}} </a><br />
    <form action="/register_confirm" method="post">
      <input type="submit" name="confirm" value="confirm" />
      <input type="hidden" name="id" value="{{ids}}" />
      <input type="hidden" name="password" value="{{passwords}}" />
      <input type="hidden" name="code" value="{{lec[0]}}" />
      <input type="hidden" name="name" value="{{lec[1]}}" />
      <input type="hidden" name="price" value="{{lec[2]}}" />
      <input type="hidden" name="tutor" value="{{lec[3]}}" />
      <input type="hidden" name="final_price" value="{{final_price}}" />
      <input type="hidden" name="credit" value="{{credit}}" />
    </form>

    <form action="/register" method="post">
      <input type="submit" name="button" value="cancel" />
      <input type="hidden" name="send" value="login" />
      <input type="hidden" name="id" value="{{ids}}" />
      <input type="hidden" name="password" value="{{passwords}}" />
    </form>
  </body>
</html>
