<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Return</title>
  </head>
  <body>
    <b> Return main page </b>
    <br /><br />

    <form action="/register" method="post">
      <input type="submit" name="button" value="return" />
      <input type="hidden" name="send" value="login" />
      <input type="hidden" name="id" value="{{ids}}" />
      <input type="hidden" name="password" value="{{passwords}}" />
    </form>
  </body>
</html>
